[Desktop Entry]
Type=Application
Exec=/usr/bin/syndaemon -i .5 -k -R
Hidden=false
X-GNOME-Autostart-enabled=true
Name=syndaemon
Comment=prevent mousing while typing
