[Desktop Entry]
Type=Application
Exec=/home/dwlocks/bin/touchpad_setup
Hidden=false
X-GNOME-Autostart-enabled=true
Name=touchpad_setup
Comment=Change synaptics settings
