[Desktop Entry]
Type=Application
Exec=xkbset -a
Hidden=false
X-GNOME-Autostart-enabled=true
Name=Disable accessx features
Comment=prevents slowkeys on >10s shift hold
